[package]
name = "veza-cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.50", features = ["derive"] }
calamine = "0.31.0"
dotenv = "0.15.0"
futures = "0.3.31"
reqwest = { version = "0.12.24", features = ["json"] }
rust_xlsxwriter = "0.91.0"

secrecy = { version = "0.10.3", features = ["serde"] }
serde = { version = "1.0.228", features = ["derive"] }
tokio = { version = "1.48.0", features = ["full"] }
serde_json = "1.0.145"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
urlencoding = "2.1.3"

[dev-dependencies]
mockito = "1.7.0" #

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
